<div class="bg-black py-16 px-8">
  <div
    class="flow-root max-w-5xl mx-auto"
    *ngIf="ingredient$ | async as ingredient"
  >
    <dl class="-my-3 divide-y divide-pink-600 text-sm">
      <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
        <dt class="font-semibold text-lg text-pink-600">Name</dt>
        <dd class="text-gray-200 text-lg sm:col-span-2">
          {{ ingredient.strIngredient }}
        </dd>
      </div>

      <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
        <dt class="font-semibold text-lg text-pink-600">Description</dt>
        <dd class="text-gray-200 text-lg sm:col-span-2">
          {{ ingredient.strDescription }}
        </dd>
      </div>

      <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
        <dt class="font-semibold text-lg text-pink-600">Type</dt>
        <dd class="text-gray-200 text-lg sm:col-span-2">
          {{ ingredient.strType }}
        </dd>
      </div>

      <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
        <dt class="font-semibold text-lg text-pink-600">Alcoholic</dt>
        <dd class="text-gray-200 text-lg sm:col-span-2">
          {{ ingredient.strAlcohol }}
        </dd>
      </div>
    </dl>
  </div>
</div>
