<div class="flow-root" *ngIf="ingredient$ | async as ingredient">
  <dl class="-my-3 divide-y divide-gray-100 text-sm">
    <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">Name</dt>
      <dd class="text-gray-700 sm:col-span-2">
        {{ ingredient.strIngredient }}
      </dd>
    </div>

    <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">Description</dt>
      <dd class="text-gray-700 sm:col-span-2">
        {{ ingredient.strDescription }}
      </dd>
    </div>

    <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">Type</dt>
      <dd class="text-gray-700 sm:col-span-2">
        {{ ingredient.strType }}
      </dd>
    </div>

    <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">Alcoholic</dt>
      <dd class="text-gray-700 sm:col-span-2">
        {{ ingredient.strAlcohol }}
      </dd>
    </div>
  </dl>
</div>
