<div class="overflow-x-auto">
  <table
    class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm dark:divide-gray-700 dark:bg-gray-900"
  >
    <thead class="ltr:text-left rtl:text-right">
      <tr>
        <th
          class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white"
        >
          #
        </th>
        <th
          class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white"
        >
          Name
        </th>
        <th
          class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white"
        >
          Category
        </th>
        <th
          class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white"
        >
          Alcoholic
        </th>
        <th
          class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white"
        >
          Glass
        </th>
        <th
          class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white"
        >
          Ingredients
        </th>
        <th class="px-4 py-2"></th>
      </tr>
    </thead>

    <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
      <tr *ngFor="let cocktail of cocktails$ | async; index as i">
        <td
          class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white"
        >
          {{ i + 1 }}
        </td>
        <td
          class="whitespace-nowrap px-4 py-2 text-gray-700 dark:text-gray-200"
        >
          {{ cocktail.name }}
        </td>
        <td
          class="whitespace-nowrap px-4 py-2 text-gray-700 dark:text-gray-200"
        >
          {{ cocktail.category }}
        </td>
        <td
          class="whitespace-nowrap px-4 py-2 text-gray-700 dark:text-gray-200"
        >
          {{ cocktail.alcoholic }}
        </td>
        <td
          class="whitespace-nowrap px-4 py-2 text-gray-700 dark:text-gray-200"
        >
          {{ cocktail.glass }}
        </td>
        <td
          class="whitespace-nowrap px-4 py-2 text-gray-700 dark:text-gray-200"
        >
          {{ cocktail.ingredients.join(", ") }}
        </td>
        <td class="whitespace-nowrap px-4 py-2">
          <a
            [routerLink]="['/details', cocktail.id]"
            class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700"
          >
            View
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
