<div class="bg-black py-16 min-h-screen">
  <div class="text-center p-10 bg-black">
    <h2 class="font-bold text-4xl mb-8 text-gray-200">Here is your menu</h2>
  </div>
  <section
    class="w-fit mx-auto grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 bg-black"
  >
    <div
      *ngFor="let cocktail of cocktails$ | async; index as i"
      class="w-72 bg-black shadow-2xl rounded-xl duration-200 hover:scale-105 hover:shadow-pink-600/25 border-2 border-pink-600"
    >
      <a>
        <img
          src="{{ cocktail.imageUrl }}"
          alt="Drink"
          class="h-80 w-72 object-cover rounded-t-xl"
        />
        <div class="px-4 py-3 w-72">
          <span class="text-gray-400 mr-3 uppercase text-xs">{{
            cocktail.alcoholic
          }}</span>
          <p class="text-lg font-bold text-pink-600 truncate block capitalize">
            {{ cocktail.name }}
          </p>
          <div class="flex items-center">
            <p class="text-lg text-white cursor-auto my-3">
              {{ cocktail.ingredients.join(", ") }}
            </p>
          </div>
          <a
            [routerLink]="['/details', cocktail.id]"
            class="block rounded bg-pink-800 px-4 py-2 text-sm font-medium text-white hover:bg-pink-700 my-4 w-fit"
          >
            View
          </a>
        </div>
      </a>
    </div>
  </section>
</div>
