<body class="bg-gradient-to-br from-gray-900 to-black">
  <div
    class="text-gray-300 container mx-auto p-8 overflow-hidden md:rounded-lg md:p-10 lg:p-12"
  >
    <div class="h-32 md:h-40"></div>

    <div class="grid gap-8 md:grid-cols-2">
      <div class="flex flex-col justify-center">
        <h2 class="text-4xl font-bold">Barkeep</h2>
        <div class="h-6"></div>
        <p class="font-serif text-xl text-gray-400 md:pr-10">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam
          autem, a recusandae vero praesentium qui impedit doloremque molestias
          necessitatibus.
        </p>
        <div class="h-8"></div>
      </div>
      <div>
        <div
          class="-mr-24 rounded-lg md:rounded-l-full bg-gradient-to-br from-gray-900 to-black h-96"
        ></div>
      </div>
    </div>

    <div class="h-32 md:h-40"></div>

    <p class="font-serif text-4xl">
      <span class="text-gray-400">Lorem Ipsum</span>

      <span class="text-gray-600"
        >consectetur adipisicing elit. Consectetur atque molestiae omnis
        excepturi enim!</span
      >
    </p>

    <div class="h-32 md:h-40"></div>

    <div class="grid gap-4 md:grid-cols-3">
      <div
        class="flex-col p-8 py-16 rounded-lg shadow-2xl md:p-12 bg-gradient-to-br from-gray-900 to-black"
      >
        <p
          class="flex items-center justify-center text-4xl font-semibold text-green-400 bg-green-800 rounded-full shadow-lg w-14 h-14"
        >
          1
        </p>
        <div class="h-6"></div>
        <p class="font-serif text-3xl">Lorem Ipsum Lorem Ipsum</p>
        <a routerLink="/list">list</a>
      </div>
      <div
        class="flex-col p-8 py-16 rounded-lg shadow-2xl md:p-12 bg-gradient-to-b from-gray-900 to-black"
      >
        <p
          class="flex items-center justify-center text-4xl font-semibold text-indigo-400 bg-indigo-800 rounded-full shadow-lg w-14 h-14"
        >
          2
        </p>
        <div class="h-6"></div>
        <p class="font-serif text-3xl">Lorem Ipsum Lorem Ipsum</p>
        <a routerLink="/random">Random</a>
      </div>
      <div
        class="flex-col p-8 py-16 rounded-lg shadow-2xl md:p-12 bg-gradient-to-bl from-gray-900 to-black"
      >
        <p
          class="flex items-center justify-center text-4xl font-semibold text-teal-400 bg-teal-800 rounded-full shadow-lg w-14 h-14"
        >
          3
        </p>
        <div class="h-6"></div>
        <p class="font-serif text-3xl">Coming soon ...</p>
      </div>
    </div>

    <div class="h-40"></div>

    <div class="h-12"></div>
  </div>
</body>
