<div class="bg-black py-16 md:py-32">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8" *ngIf="cocktail">
    <div class="flex flex-col md:flex-row -mx-4">
      <div class="md:flex-1 px-4">
        <div class="h-[460px] rounded-lg bg-black mb-4">
          <img
            class="w-full h-full object-cover"
            src="{{ cocktail.imageUrl }}"
            alt="Drink Image"
          />
        </div>
      </div>
      <div class="md:flex-1 px-4">
        <h2
          class="text-3xl sm:text-5xl font-extrabold text-transparent bg-gradient-to-r from-pink-700 via-blue-500 to-pink-300 bg-clip-text mb-8 md:mb-12 mt-4 md:mt-0"
        >
          {{ cocktail.name }}
        </h2>
        <div class="mb-4">
          <span class="text-blue-400 text-lg"> {{ cocktail.category }}</span>
        </div>
        <div class="mb-4">
          <span class="text-lg text-gray-200">Served in </span>
          <span class="text-pink-600 text-lg font-semibold">
            {{ cocktail.glass }}</span
          >
        </div>
        <div class="mb-4">
          <span class="font-semibold text-lg text-pink-600">{{
            cocktail.alcoholic
          }}</span>
        </div>
        <div class="mb-4">
          <div class="flex items-center mt-2 flex-wrap">
            <a
              class="bg-pink-800 rounded-md px-2 py-1 rounded text-m text-white m-1 hover:bg-pink-700 block w-fit"
              *ngFor="let ingredient of cocktail.ingredients"
              [routerLink]="['/ingredient', ingredient.split(' ').join('_')]"
            >
              {{ ingredient }}
            </a>
          </div>
        </div>
        <div>
          <p class="text-gray-200 text-lg mt-2">
            {{ cocktail.instructions }}
          </p>

          <p class="text-gray-400 text-lg">
            Click on any ingredient to know more about it.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
